body {
  background-image: linear-gradient(to bottom right, ivory, navajowhite, lightsalmon);
  background-repeat: none;
  background-position-y: 150%;
  background-position-x: center;
}

html,
body {
  height: 100%;
}

.full-height {
  height: 100%;
}

img {
  animation: ease-in;
  display:-webkit-inline-flex;
}

h1 {
  color: indigo;
  display: block;
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  margin: 25px 10px 75px 100px;
  ;
}

h2 {
  color: navy;
  text-align: center;
  display: block;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 25px 10px 75px 100px;
}

h3 {
  color: navy;
  text-align: center;
  display: block;
  font-size: small;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 25px 10px 75px 100px;
}

p {
    color: navy;
    text-align:center;
    display: block;
    font-size: 14;
    font-weight: lighter;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    flex-grow: 50%;
    flex-shrink: initial;
    margin: 25px 200px 75px 200px;
    text-overflow: clip;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    color: navy;
    text-align: center;
    display: block;
    font-size: small;
    font-weight: bolder;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    margin: 25px 50px 75px 100px;
}

a {
  text-decoration: none;
}

nav {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

ul {
  background: rgb(103, 204, 174);
  list-style: none;
  margin: 0;
  padding-left: 100;
}

li {
  color: navy;
  background:rgb(103, 204, 174);
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: navy;
}

li:hover,
li:focus-within {
  background: rgb(66, 211, 167);
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: lightskyblue;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  clear: both;
  width: 100%;
}

i {
  display: block;
  align-items: center;
  text-align: center;
  width: 50px;
  color: navy;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}