body {
  background-color: #e7cfbf;
}

h1 {
  color: navy;
  text-align: center;
  display: block;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: navy;
  text-align: center;
  display: block;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: navy;
  text-align: center;
  display: block;
  font-size: small;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: navy;
    text-align: center;
    display: block;
    font-size: small;
    font-weight: lighter;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}
