body {
  background-color: #e7cfbf;
}

h1 {
  color: navy;
  text-align: center;
  display: block;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 25px 50px 75px 100px;
  ;
}

h2 {
  color: navy;
  text-align: center;
  display: block;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 25px 50px 75px 100px;
}

h3 {
  color: navy;
  text-align: center;
  display: block;
  font-size: small;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 25px 50px 75px 100px;
}

p {
    color: navy;
    text-align: center;
    display: block;
    font-size: small;
    font-weight: lighter;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    margin: 25px 50px 75px 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    color: navy;
    text-align: center;
    display: block;
    font-size: small;
    font-weight: bolder;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
    margin: 25px 50px 75px 100px;
}